title: UCCU小站
description: UCCU的廢話區
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: /categories/:name/
