body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  order: 2;
  padding: 20px;
  background: #f2f2f2;
  min-height: 100vh;
}

.content {
  flex: 3;
  order: 1;
  padding: 20px;
}

ul {
  padding-left: 20px;
}