<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
    <div class="sidebar">
      <h2>關於我</h2>
      <p>UCCU，台灣人，一個興趣使然的碼農。偉大的抱負是蒐集所有一元丟到海裡面，這樣就不會再有尾數是9元的商品。</p>
      <p>會畫圖、寫作、寫程式，但都做得很爛。</p>
      <h3>其他連結</h3>
      <a>gitgud</a>
      <h3>其他文章</h3>
      <ul>
        {% for category in site.categories %}
          <li><a href="/categories/{{ category[0] }}/">{{ category[0] }} ({{ category[1].size }})</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>