<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <h2>關於我</h2>
      <p>我是UCCU，一個興趣使然的碼農，也有滿肚子牢騷。</p>

      <h2>其他文章</h2>
      <ul>
        {% for category in site.categories %}
          <li><a href="/categories/{{ category[0] }}/">{{ category[0] }} ({{ category[1].size }})</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
</html>